<header class="header-bnb" [class.is-home-top]="isHomeTop">
  <nav class="navbar navbar-expand-lg navbar-bnb" [attr.aria-label]="'nav.ariaMain' | translate">
    <div class="container-fluid container-bnb">
      <a class="navbar-brand logo-bnb d-flex align-items-center gap-2" routerLink="/">
        <app-brand-logo class="logo-img" [ariaLabel]="'brand.logoAltNavbar' | translate" />
      </a>

      <button
        class="navbar-toggler navbar-toggler-bnb"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        [attr.aria-label]="'nav.toggleMenu' | translate"
      >
        <i class="bi bi-list" aria-hidden="true"></i>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul
          class="navbar-nav ms-auto align-items-lg-center gap-lg-1 flex-column flex-lg-row flex-lg-nowrap navbar-bnb__nav"
        >
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              (click)="onNavLinkClick($event, 'home-hero', 'home')"
              [class.active]="isNavActive('home')"
              [attr.aria-current]="isNavActive('home') ? 'page' : null"
              >{{ 'nav.home' | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/#home-chi-siamo"
              (click)="onHomeSectionLinkClick($event, 'home-chi-siamo')"
              [class.active]="isNavActive('chi-siamo')"
              [attr.aria-current]="isNavActive('chi-siamo') ? 'page' : null"
              >{{ 'nav.about' | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/#home-camere"
              (click)="onHomeSectionLinkClick($event, 'home-camere', { whenOnRoomsRouteScrollTop: true })"
              [class.active]="isNavActive('camere')"
              [attr.aria-current]="isNavActive('camere') ? 'page' : null"
              >{{ 'nav.rooms' | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/#home-galleria"
              (click)="onHomeSectionLinkClick($event, 'home-galleria')"
              [class.active]="isNavActive('galleria')"
              [attr.aria-current]="isNavActive('galleria') ? 'page' : null"
              >{{ 'nav.gallery' | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/#home-dove-siamo"
              (click)="onHomeSectionLinkClick($event, 'home-dove-siamo')"
              [class.active]="isNavActive('contatti')"
              [attr.aria-current]="isNavActive('contatti') ? 'page' : null"
              >{{ 'nav.contacts' | translate }}</a
            >
          </li>

          <li class="nav-item dropdown navbar-bnb__dropdown--centered">
            <button
              type="button"
              class="nav-link dropdown-toggle dropdown-toggle-bnb"
              [class.active]="isNavActive('blog')"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              aria-haspopup="true"
              id="navBlogDropdown"
            >
              {{ 'nav.blog' | translate }}
            </button>
            <ul class="dropdown-menu shadow-sm" aria-labelledby="navBlogDropdown">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/blog"
                  (click)="onNavLinkClick($event, null, 'blog')"
                  [class.active]="isNavActive('blog')"
                  [attr.aria-current]="isNavActive('blog') ? 'page' : null"
                  >{{ 'nav.blogAll' | translate }}</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/blog"
                  (click)="onNavLinkClick($event, null, 'blog')"
                  >{{ 'nav.blogInsights' | translate }}</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown ms-lg-2 navbar-bnb__dropdown--centered">
            <button
              type="button"
              class="nav-link dropdown-toggle dropdown-toggle-bnb lang-switcher__toggle d-inline-flex align-items-center"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              id="navLangDropdown"
              [attr.aria-label]="'lang.menu' | translate"
            >
              <i class="bi bi-translate" aria-hidden="true"></i>
              <span class="lang-switcher__code">{{ language.currentLang() | uppercase }}</span>
            </button>
            <ul class="dropdown-menu shadow-sm lang-switcher__menu" aria-labelledby="navLangDropdown">
              @for (opt of langMenu; track opt.code) {
                <li>
                  <button
                    type="button"
                    class="dropdown-item lang-switcher__item d-flex align-items-center gap-2 w-100 text-start border-0 bg-transparent"
                    [class.active]="language.currentLang() === opt.code"
                    (click)="language.setLanguage(opt.code)"
                  >
                    <span class="lang-switcher__flag" aria-hidden="true">{{ opt.flag }}</span>
                    <span>{{ opt.labelKey | translate }}</span>
                  </button>
                </li>
              }
            </ul>
          </li>

          <li class="nav-item ms-lg-2">
            <a
              class="btn btn-prenota"
              routerLink="/prenota"
              (click)="onNavLinkClick($event, null, 'prenota')"
              [class.active]="isNavActive('prenota')"
              [attr.aria-current]="isNavActive('prenota') ? 'page' : null"
              >{{ 'nav.book' | translate }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
