@use 'variables' as v;
@use 'mixins' as m;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: v.$neutral-100;
}

/* Spinge il footer in fondo alla viewport quando il contenuto è corto */
router-outlet + * {
  flex: 1 0 auto;
}
