@if (items().length) {
  <nav [attr.aria-label]="'nav.breadcrumb' | translate">
    <ol class="breadcrumb mb-0">
      @for (item of items(); track $index) {
        <li class="breadcrumb-item" [class.active]="!item.link">
          @if (item.link) {
            <a [routerLink]="item.link" [fragment]="item.fragment ?? undefined">{{
              item.label | translate
            }}</a>
          } @else {
            {{ item.label | translate }}
          }
        </li>
      }
    </ol>
  </nav>
}
